
				* {
					padding: 0PX;
					margin: 0PX;
					list-style: none;
				}
				
				a:link {
					color: white;
					text-decoration: none;
				}
				
				a:visited {
					color: white;
				}
				
				.nav-overlay {
					display: none;
					position: fixed;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
				
				.nav-container {
					width: 1905px;
					height: 40px;
					position: relative;
					background: #2C0902;
					z-index: 4;
					/*margin: 0 auto*/
				}
				
				.nav-top {
					height: 40px;
					position: relative;
					width: 80%;
					/*margin: 0 auto;*/
				}
				
				nav .logo {
					height: 40px;
					width: 61px;
					background-image: url(../img/logo.png);
					background-repeat: no-repeat;
					background-position: -18px -75px;
					margin-left: 140px;
					position: relative;
					display: inline-block;
					background-color: #2c0902;
					z-index: -9;
				}
				
				.nav-item {
					vertical-align: top;
					display: inline-block;
					line-height: 1.4;
					padding: 6px 20px;
					width: 100%;
					height: 40px;
					position: absolute;
					top: 0;
					left: 200px;
				}
				
				.nav-left ul {
					float: left;
				}
				
				.nav-left ul li {
					float: left;
					padding: 5px 15px;
					color: rgba(255, 255, 255, .7);
					display: inline-block;
					font-size: 15px;
				}
				
				.nav-left ul li a {
					color: rgba(255, 255, 255, .7);
				}
				
				.nav-items {
					position: absolute;
					right: 30px;
					top: 0;
					bottom: 0;
					line-height: 1.4;
					padding: 6px 20px;
				}
				
				.nav-right ul {
					float: right;
				}
				
				.nav-right ul li {
					float: right;
					padding: 5px 15px;
					font-size: 15px;
					color: white;
				}
				
				.nav-right ul li a {
					color: rgba(255, 255, 255, .7);
				}
				
				.subnav {
					width: 121.8%;
					height: 250px;
					top: 40px;
					left: -200px;
					background: rgba(21, 26, 35, .95);
					border: solid 1px rgba(255, 255, 255, .15);
					box-sizing: border-box;
					text-align: center;
					position: absolute;
					padding: 30px 0;
				}
				
				.subnav a {
					width: 180px;
					height: 180px;
					background-image: url(../img/shouwang.jpg);
					background-position: center;
					background-size: cover;
					display: inline-block;
					margin: 0 10px;
					/*transition-property: opacity, top;
					transition-duration: .3s;
					box-shadow: 0 0 1px 0 rgba(255,255,255,.5);*/
				}
				.subnav .moshou{
					background-image: url(../img/mohsou3.jpg);
					transition: 50ms;
				}
				
				.subnav .chuanshuo{
					background-image: url(../img/lishichuanshuo.jpg);
					transition: 100ms;
				}
				
				.subnav .fengbao{
					background-image: url(../img/fengbao8.jpg);
					transition: 150ms;
				}
				
				.subnav .anheishen{
					background-image: url(../img/zhengba.jpg);
					transition: 200ms;
				}
				
				.subnav .zhengba{
					background-image: url(../img/pohuashen.jpg);
					transition: 250ms;
				}
				 ul.subnav a:hover{
					box-shadow: 0 0 1px rgba(255,255,255,1);
					filter: brightness(120%) blur(10px);
				}
				.nav-left li .subnav{
				  opacity: 0;
				  visibility: hidden;
				}
				.nav-left li:hover a+.subnav{
				visibility: visible;
				opacity: 1;
				transition: all .3s;
				}
				.nav-left li .subnav a{
				position: relative;
				top: -30px;
			    opacity: 0;
                }
                .nav-left li:hover a+.subnav a{
                opacity: 1;
                top: 10px;
                }
                .subnav-one{
					width: 121.8%;
					height: 230px;
					top: 40px;
					left: -200px;
					background: rgba(21, 26, 35, .95);
					border: solid 1px rgba(255, 255, 255, .15);
					/*box-sizing: border-box;*/
					text-align:center;
					position:absolute;
					padding: 30px 0;
					opacity: 0;
					visibility: hidden;
				}
				.subnav-twe{
					width: 1000px;
					height: 180px;
				    display:block;
				    position: relative;
				    top: -70px;
				    left: 24%;
				}
				
				.subnav-one a {
					width: 180px;
					height: 180px;
					display: inline-block;
					}
				.nav-left li:hover a+.subnav-one{
					opacity: 1;
					visibility: visible;
					transition: all .5s;
				}
				.espet{
					width: 100px;
					background:rgba(21, 26, 35, 1);
					height: 235px;
					display: inline-block;
					opacity: 0;
					visibility: hidden;
					margin-top: 40px;
					padding: 1px 0;
					/*margin-left: -100px;
					transition: all .5s;*/
				}
				.espet img{
					max-width: 100%;
					height: 80px;
				}
				.subnav-twe>a+.espet+a {
				margin-left: -100px;
				transition: all 1s;
			}
                .subnav-twe>a:hover+.espet{
                	opacity: 1;
                	visibility: visible;
					margin-right: 60px;
					}
				.homepage {
					display: block;
					background-attachment: fixed;
					background-image: url(../img/beijing.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					/*background-size: auto 100%;*/
					position: relative;
					width: 1904px;
					margin: 0 auto;
				}
				.scene {
					width: 1024px;
					height: 889px;
					position: absolute;
					top: -100px;
					left: 46%;
					margin-left: -600px;
				}
				
				.header-top {
					width: 700px;
					height: 275px;
					position: relative;
					left: 50%;
					top: 10%;
					z-index: 900;
					margin-left: -512px;
				z-index: 3;
				}
				
				.logo2 {
					width: 350px;
					height: 184px;
					background-image: url(../img/icon.png);
					background-repeat: no-repeat;
					position: absolute;
					top: 60px;
					left: 10px;
				}
				
				.header-top form {
					width: 302px;
					height: 42px;
					position: absolute;
					top: 110px;
					left: 120%;
					z-index: 1001;
				}
				
				.header-top input[type=text] {
					width: 221px;
					height: 25px;
					padding: 7px 40px 7px 10px;
					background: rgba(58, 58, 58, .3);
					border: 1px solid aqua;
					color: #8bb6ad;
					font-size: 14px;
					line-height: 25px;
					display: inline-block;
				}
				
				.header-top input[type=submit] {
					background-image: url(../img/search.png);
					width: 30px;
					height: 26px;
					background-repeat: no-repeat;
					position: absolute;
					top: 9px;
					right: 35px;
					background-color: transparent;
					border: 0;
				}
				
				.header-top .navwrap {
					position: absolute;
					top: 290px;
					left: 23%;
					height: 52px;
					width: 988px;
					z-index: 1000;
					margin-right: -500px;
					display: block;
				/*position: fixed;*/
				}
				
				.clearfix {
					background-image: url(../img/nav.jpg);
					background-repeat: no-repeat;
					background-position: 0 px;
					width: 1024px;
					height: 52px;
					position: relative;
					/*padding-left: 61px;*/
					display: block;
				}
				
				#navs li {
					float: left;
				}
				
				#navs .nav1 {
					float: left;
					width: 173px;
					height: 52px;
				}
				
				#navs .nav2 {
					width: 114px;
					height: 52px;
				}
				
				#navs .nav3 {
					width: 114px;
					height: 52px;
				}
				
				#navs .nav4 {
					width: 114px;
					height: 52px;
				}
				
				#navs .nav5 {
					width: 114px;
					height: 52px;
				}
				
				#navs .nav6 {
					width: 114px;
					height: 52px;
				}
				
				#navs .nav7 {
					width: 114px;
					height: 52px;
				}
				
				#navs .nav8 {
					width: 114px;
					height: 52px;
				}
				
				#navs ul a {
					color: #cd998e;
					font-size: 14px;
					padding-left: 20px;
					background: rgba(77, 9, 8, .95);
					width: 95px;
					height: 52px;
				}
				
				.nav1 a:hover {
					background-position: 0 -52px;
					color: #db6800;
				}
				
				.nav2 ul li {
					display: list-item;
				}
				
				#navs li a {
					overflow: hidden;
					display: block;
					height: 100%;
					position: relative;
					z-index: 1;
					background-image: url(../img/nav.jpg);
					background-repeat: no-repeat;
				}
				
				.navwrap .clearfix li>a {
					display: inline-block;
					width: 100%;
					height: 100%;
				}
				#navs li.nav1 a {
					background-position: 0px -52px;
				}
				#navs li.nav2 a {
					background-position: -173px -0;
				}
				
				#navs li.nav3 a {
					background-position: -287px -0;
				}
				
				#navs li.nav4 a {
					background-position: -401px -0;
				}
				
				#navs li.nav5 a {
					background-position: -515px -0;
				}
				
				#navs li.nav6 a {
					background-position: -629px -0;
				}
				
				#navs li.nav7 a {
					background-position: -743px -0;
				}
				
				#navs li.nav8 a {
					background-position: -857px -0;
				}
				
				#navs li.nav2 a:hover{
					background-position: -173px -52px;
				}
				
				#navs li.nav3 a:hover{
					background-position: -287px -52px;
				}
				
				#navs li.nav4 a:hover {
					background-position: -401px -52px;
				}
				
				#navs li.nav5 a:hover {
					background-position: -515px -52px;
				}
				
				#navs li.nav6 a:hover {
					background-position: -629px -52px;
				}
				
				#navs li.nav7 a:hover {
					background-position: -743px -52px;
				}
				
				#navs li.nav8 a:hover {
					background-position: -857px -52px;
				}
				
				#navs ul a {
					color: #cd998e;
					font-size: 14px;
					padding-left: 20px;
					background: rgba(77, 9, 8, .95);
					width: 95px;
					height: 30px;
					display: none;
				}
				#navs .nav2:hover a {
					display: block;
				}
				
				#navs .nav3:hover a {
					display: block;
				}
				
				#navs .nav4:hover a {
					display: block;
				}
				
				#navs .nav7:hover a {
					display: block;
				}
				.sprite-left{
				 width: 95px;
				 height:69px;
				 background-image: url(../img/sprite-l.png);
				 background-repeat: no-repeat;
				position: absolute;
				top: -18px;
				left: -31px;
				z-index: 10000;
				display: block;
				}
				.sprite-right{
				 width: 95px;
				 height:69px;
				 background-image: url(../img/nav-sprite-r.png);
				 background-repeat: no-repeat;
				position: absolute;
				top: -18px;
				right: -10px;
				z-index: 10000;
				display: block
				}
				.container {
					position: relative;
					width: 1024px;
					left: 47%;
					margin-left: -500px;
					min-height: 1000px;
					padding-bottom: 100px;
					z-index: 2;
					height: 2839px;
					top: 9.7%;
				}
				
				.wrapcon {
					width: 1024px;
					height: 91%;
					background-image: url(../img/con-bg.png);
					background-repeat-y: 50% 0;
					position: relative;
					right: -3.5%;
					top: 11.5%;
				}
				
				.wraparea {
					width: 100%;
					position: relative;
					padding-bottom: 41px;
					background-image: url(../img/vvvvvv.png);
					background-position: 50% 0;
					background-repeat: no-repeat;
					height: 100%;
				}
				
				.homemain {
					width: 703px;
					position: relative;
					z-index: 1001;
					background-image: url(../img/con2.png);
					background-repeat: repeat-y;
					background-position: 50% 0;
					height: 100%;
				}
				
				.homemain-top {
					min-height: 2283px;
					position: relative;
					padding: 27px 0 20px 0;
					background-image: url(../img/aaaa.png);
					background-position: 50% 0;
					background-repeat: no-repeat;
				}
				
				.eye {
					width: 640px;
					height: 296px;
					margin: 0 auto;
					background: #000;
					padding: 2px;
					border: 1px solid #67894c;
					position: relative;
				}
				
				.eye-wrap {
					width: 640px;
					height: 296px;
					position: relative;
					overflow: hidden;
				}
				
				ul .eye-clearfix {
					position: absolute;
					display: block;
				}
				
				.eye-link {
					width: 640px;
					height: 296px;
					z-index: 3;
					position: absolute;
					top: 0;
					left: 0:;
					overflow: hidden;
				}
				
				.box {
					width: 100%;
					height: 100%;
					display: block;
				}
				
				.box a {
					width: 100%;
					height: 100%;
					display: block;
				}
				
				.eye-small {
					width: 640px;
					height: 60px;
					background: transparent;
					z-index: 4;
					position: absolute;
					top: 260px;
					left: -5px;
					padding: 15px;
					border: 1px solid #db6800;
					background: rgba(0,0,0,.3)
				}
				
				.font {
					color: white;
					font-size: 18px;
					line-height: 42px;
					font-weight: 700;
					/*width: 130px;
 					height: 20px;*/
					position: absolute;
					top: -4px;
				}
				
				.eye-small .sss {
					width: 204px;
					height: 34px;
					float: right;
				}
				
				.sss .box1 {
					width: 64px;
					height: 31px;
					display: block;
					float: right;
					padding: 1px 2px;
				}
				
				.eye-link1 {
					width: 204px;
					height: 31px;
					display: block;
					position: absolute;
					top: 92%;
					right: 0;
				}
				
				.rel {
					width: 64px;
					height: 31px;
					display: block;
				}
				
				.re2 {
					width: 64px;
					height: 31px;
					display: block;
				}
				
				.re3 {
					width: 64px;
					height: 31px;
					display: block;
				}
				
				.video {
					width: 630px;
					height: 218px;
					padding: 35px 0 0 0;
					margin: 0 auto;
					background-image: url(../img/bg.jpg);
					background-repeat: no-repeat;
					background-position: 50% 100%;
				}
				
				.video-frist img {
					width: 282px;
					height: 175px;
					display: block;
					position: absolute;
					top: 376px;
					left: 49px;
				}
				.video-frist img:hover{
				border: 1px solid darkgreen;
				}
				.video-last img:hover{
				border: 1px solid darkgreen;
				}
				.video-frist p {
					width: 245px;
					height: 20px;
					position: absolute;
					top: 555px;
					left: 80px;
				}
				
				.video-frist {
					float: left;
					width: 288px;
					height: 191px;
					padding: 10px;
					background-image: url(../img/123.png);
					background-repeat: no-repeat;
				}
				
				.video-last {
					float: left;
					width: 288px;
					height: 191px;
					padding: 10px;
					background-image: url(../img/123.png);
					background-repeat: no-repeat;
					/*	background-position:10px*/
					margin-left: 10px;
				}
				
				.video-last img {
					width: 282px;
					height: 175px;
					display: block;
					position: absolute;
					top: 376px;
					right: 55px;
				}
				
				.video-last p {
					width: 245px;
					height: 20px;
					position: absolute;
					top: 555px;
					right: 63px;
				}
				
				.newhome {
					width: 630px;
					margin: 0 auto;
					height: 100%
				}
				
				.homenew-wrap {
					position: relative;
					padding-top: 16px;
					padding-bottom: 9px;
					border-top: 0px;
					padding-left: 35px;
					/*border-bottom: 1px solid #dbc497;*/
				}
				
				.homeNewsItem {
					padding-left: 222px;
					display: block;
					width: 390px;
					height: 100px;
					position: relative;
					border-bottom: 1px solid #dbc497;
					padding-bottom: 20px;
				}
				.homeNewsItem:hover{
				background: #fee0b9;
				}
				
				.homeNewsItem img {
					position: absolute;
					left: 0;
					width: 200px;
					height: 100px;
					padding: 1px;
					background: #fee0b9;
					border: 1px solid #b7894c;
				}
				
				h4 {
					color: black;
					font-size: 16px;
					font-weight: 700;
					padding-bottom: 10px;
				}
				
				p.homeNewsIntro {
					font-size: 14px;
					color: #695745;
					height: 38px;
					letter-spacing: 1px;
					overflow: hidden;
				}
				
				.new-comment {
					position: absolute;
					bottom: 28px;
					left: 260px;
				}
				
				.iconCommon {
					width: 18px;
					height: 19px;
					padding-right: 3px;
					background-image: url(../img/ficon.png);
					background-position: -80px -112px;
					display: inline-block;
					background-repeat: no-repeat;
					vertical-align: middle;
				}
				
				.commentNum {
					color: orangered;
					font-size: 14px;
					display: inline-block;
					vertical-align: middle;
				}
				
				.homenew-wrap .time {
					color: gray;
					vertical-align: middle;
					padding-bottom: 5px;
				}
				
				.iconCommonss {
					width: 23px;
					height: 23px;
					background-image: url(../img/ficon.png);
					background-repeat: no-repeat;
					background-position: -310px -277px;
					margin-right: 2px;
					vertical-align: middle;
					display: inline-block;
				}
				
				.newshowmore {
					width: 640px;
					margin: 0 auto;
					border-top: 1px solid #efdba8;
				}
				
				.newmore {
					text-align: center;
					height: 40px;
					border-radius: 3px;
					font-size: 16px;
					color: #5b4b38;
					border: 1px solid #f1dbb8;
					background: #d3b78b;
					line-height: 40px;
					margin: 15px auto 0;
				}
				
				.home-bot {
					width: 703px;
					height: 34px;
					position: absolute;
					bottom: -30px;
					left: 0;
					background-image: url(../img/last.png);
					background-repeat: no-repeat;
					background-position: 50% 100%;
				}
				
				.homeconbar {
					width: 340px;
					height: 2600px;
					position: absolute;
					top: 0;
					left: 690px;
					background-image: url(../img/55555.png);
				}
				
				.features {
					width: 328px;
					padding: 579px 0 10px 0;
					position: relative;
					background-image: url(../img/doan-cr.jpg);
					background-position: 100% 0;
					background-repeat: no-repeat;
				}
				
				.features .logo3 {
					width: 353px;
					height: 192px;
					position: absolute;
					top: 1px;
					left: -6px;
					display: block;
					z-index: 1;
					/*text-indent: -9999px;*/
					overflow: hidden;
					background-image: url(../img/Fhome_logo.png);
					background-repeat: no-repeat;
					background-position: 50% 0;
				}
				
				.download {
					width: 280px;
					height: 200px;
					padding-top: 80px;
					position: absolute;
					top: 134px;
					left: 28px;
					z-index: 2;
				}
				#flashBox{
				z-index: 100
				position: absolute;
				top: 1px;
				right: 0px;}
				.col {
					padding: 20px 10px 0 26px;
					height: 85px;
					display: block;
				}
				
				.col li {
					float: left;
					position: relative;
				}
				
				.col .pc {
					width: 80px;
					height: 90px;
					display: block;
				}
				
				.col .ios {
					width: 80px;
					height: 90px;
					display: block;
				}
				
				.col .android {
					width: 80px;
					height: 90px;
					display: block;
				}
				
				.col li a {
					width: 80px;
					height: 90px;
					display: block;
					background-image: url(../img/vice-icon.png);
					background-repeat: no-repeat;
				}
				
				.col li .pc {
					background-position: 0 -182px;
				}
				
				.col li .ios {
					background-position: -80px;
				}
				
				.col li .android {
					background-position: -160px;
				}
				
				.col li .ios:hover {
					background-position: -80px -182px;
				}
				
				.col li .android:hover {
					background-position: -160px -182px;
				}
				
				.downlord-pc {
					width: 220px;
					height: 63px;
					display: block;
					position: absolute;
					top: 206px;
					left: 43px;
					z-index: 0;
					background-image: url(../img/dowanlord.png);
					overflow: hidden;
					background-position: -37px -371px;
					background-repeat: no-repeat;
				}
				
				.drag {
					width: 309px;
					margin: 0 auto;
					z-index: 999;
					position: relative;
					height: 1988px;
				}
				
				.right-top {
					width: 298px;
					margin: 0 auto;
					height: 230px;
				}
				
				.right-top2 {
					position: relative;
					/*background: red;*/
					padding-top: 20px;
				}
				
				.top {
					background-image: url(../img/top-bg.jpg);
					background-repeat: no-repeat;
					background-position: 100% 0;
					padding: 20px 0;
				}
				
				.bot {
					width: 295px;
					height: 180px;
					padding: 10px 20px;
					position: relative;
				}
				
				.iconCommon52 {
					background-image: url(../img/ficon.png);
					background-repeat: no-repeat;
					height: 30px;
					width: 30px;
					display: block;
					vertical-align: middle;
					background-position: -87px -4px;
					margin-right: 4px;
					float: left;
					top: 10px;
				}
				
				.poto {
					width: 220px;
					height: 100%;
					position: absolute;
					top: 55px;
					left: 4%;
					padding: 30px 15px;
				}
				.inherit{
					width: 200px;
					height: 100px;
					position: absolute;
					top: 42px;
					left: 35px;
					/*transform: scale(0);
					background: rgba(15, 16, 15, 0.3);*/
					transition: all .5s;
					padding:0 -10px;
				}
				.poto:hover .inherit{
					/*box-shadow: 0 0 10px 0 white ;*/
					transform: scale(1.2);
					background: rgba(15, 16, 15, 0.3);
				}
				
				.poto span {
					width: 140px;
					height: 10px;
					position: absolute;
					top: 170px;
					left: 70px;
					font-size: 1em;
					font-weight: 700;
					color: black;
				}
				
				.twe {
					width: 200px;
					height: 100px;
					position: absolute;
					top: 320px;
					right: 90px;
				}
				
				.iconCommon-one {
					background-image: url(../img/ficon.png);
					background-repeat: no-repeat;
					height: 30px;
					width: 30px;
					display: block;
					vertical-align: middle;
					background-position: -87px -4px;
					margin-right: 4px;
					float: left;
					top: 10px;
				}
				
				.iconCommon-twe {
					/*margin-top: -5px;*/
					background-image: url(../img/ficon.png);
					background-position: -46px -74px;
					background-repeat: no-repeat;
					vertical-align: middle;
					margin-right: 5px;
					width: 30px;
					height: 30px;
					position: absolute;
					top: -370%;
					left: -20px;
					/*display:block;
				float: left;
				top: 20%;*/
				}
				
				.row {
					width: 305px;
					height: 216px;
					display: block;
					position: absolute;
					top: 46px;
					left: 25px;
				}
				
				.row li {
					border-bottom: 1px solid #e8d6a8;
					width: 240px;
				}
				
				.row a span {
					color: #5b4b38;
					font-size: 12px;
					line-height: 28px;
				}
				
				b {
					position: absolute;
					top: -362%;
					left: 20px;
					width: 90px;
					height: 40px;
					color: black;
				}
				
				.iconSmallArrow {
					width: 12px;
					height: 10px;
					background-position: -135px -143px;
				}
				
				.iconCommon {
					background-image: url(../img/ficon.png);
					background-repeat: no-repeat;
					display: inline-block;
					margin-right: 5px;
					vertical-align: middle;
				}
				
				.row li span:hover {
					color: orange;
				}
				
				.iconCommon-three {
					width: 30px;
					height: 30px;
					margin-right: 5px;
					background-image: url(../img/ficon.png);
					background-repeat: no-repeat;
					background-position: -87px -39px;
					vertical-align: middle;
					display: block;
				}
				
				.qq {
					width: 200px;
					height: 20px;
					display: block;
					top: 13%;
					left: 65px;
				}
				
				.row-one {
					width: 305px;
					height: 216px;
					display: block;
					position: absolute;
					top: 70px;
					left: 40px;
				}
				
				.row-one a span {
					color: #5b4b38;
					font-size: 12px;
					line-height: 28px;
				}
				
				.row-one li {
					border-bottom: 1px solid #e8d6a8;
					width: 180px;
				}
				
				.row-one li span:hover {
					color: orange;
				}
				
				.right-bottom {
					width: 260px;
					margin: 0 auto 20px;
					min-height: 80px;
					/*background: red;*/
					position: relative;
					top: 40%;
				}
				
				.subModule {
					width: 100%;
					min-height: 50px;
					margin: 10 auto;
					border-radius: 3px;
					position: relative;
					background: #d1b181;
					border: 1px solid #efd4ad;
					margin-bottom: 20px;
				}
				
				.subModule .text {
					position: absolute;
					top: 15px;
					left: 15px;
				}
				
				.icon-guide {
					width: 260px;
					left: 0;
					position: absolute;
					display: block;
					background-image: url(../img/9Fcommnity-icon.png);
					background-repeat: no-repeat;
					background-position: 175px -279px;
					height: 66px;
					top: -10px;
					text-indent: -999px;
					z-index: 10;
					overflow: hidden;
					transition: all .3s;
				}
				/*.subModule .icon-guide:hover{
					background-position-y:-379px;
				}*/
				.subModule >a:hover{
					transform:rotate(5deg);
				}
				.right-bottom .tmall {
					height: 70px;
				}
				
				.subModule .text p {
					font-size: 14px;
					font-weight: 700;
					color: #66563d;
				}
				
				.icon-tmallIcon {
					width: 260px;
					left: 0;
					position: absolute;
					display: block;
					background-image: url(../img/9Fcommnity-icon.png);
					background-repeat: no-repeat;
					background-position: 175px -775px;
					height: 83px;
					top: -10px;
					text-indent: -999px;
					z-index: 10;
					overflow: hidden;
				}
				
				.reward {
					height: 70px;
				}
				
				.icon-rewardIcon {
					width: 260px;
					left: 0;
					position: absolute;
					display: block;
					background-image: url(../img/9Fcommnity-icon.png);
					background-repeat: no-repeat;
					background-position: 178px -1030px;
					height: 68px;
					top: -3px;
					text-indent: -999px;
					z-index: 10;
					overflow: hidden;
				}
				
				.icon-appsite {
					width: 260px;
					left: 0;
					position: absolute;
					display: block;
					background-image: url(../img/9Fcommnity-icon.png);
					background-repeat: no-repeat;
					background-position: 175px -1120px;
					height: 73px;
					top: -21px;
					text-indent: -999px;
					z-index: 10;
					overflow: hidden;
				}
				
				.icon-services-icon {
					width: 260px;
					left: 0;
					position: absolute;
					display: block;
					background-image: url(../img/9Fcommnity-icon.png);
					background-repeat: no-repeat;
					background-position: 175px -1629px;
					height: 89px;
					top: -21px;
					text-indent: -999px;
					z-index: 10;
					overflow: hidden;
				}
				
				.right-bottom .services {
					height: 70px;
				}
				
				.icon-sccn-icon {
					width: 260px;
					left: 0;
					position: absolute;
					display: block;
					background-image: url(../img/9Fcommnity-icon.png);
					background-repeat: no-repeat;
					background-position: 175px -2040px;
					height: 89px;
					top: -10px;
					text-indent: -999px;
					z-index: 10;
					overflow: hidden;
				}
				
				.right-bottom .sccn {
					height: 70px;
				}
				
				.subModule.sccn .qrcode {
					display: none;
					position: absolute;
					top:-170px;
					left: 10px;
					padding: 10px;
					background: rgba(0, 0, 0, .5);
					border-radius: 3px;
				}
				.icon-sccn-icon:hover+.qrcode{
					display: block;
				}
				.icon-bmallIcon {
					width: 260px;
					left: 0;
					position: absolute;
					display: block;
					background-image: url(../img/9Fcommnity-icon.png);
					background-repeat: no-repeat;
					background-position: 175px -513px;
					height: 89px;
					top: -10px;
					text-indent: -999px;
					z-index: 10;
					overflow: hidden;
				}
				
				.right-bottom .bmall {
					height: 70px;
				}
				
				.icon-joinUsIcon {
					width: 260px;
					left: 0;
					position: absolute;
					display: block;
					background-image: url(../img/9Fcommnity-icon.png);
					background-repeat: no-repeat;
					background-position: 175px -1355px;
					height: 80px;
					top: -5px;
					text-indent: -999px;
					z-index: 10;
					overflow: hidden;
				}
				
				.right-bottom .joinUs {
					height: 70px;
				}
				
				.iconCommon-foul {
					width: 32px;
					height: 42px;
					background-image: url(../img/ficon.png);
					background-repeat: no-repeat;
					background-position: -4px -189px;
					float: left;
					;
					display: block;
				}
				
				.aa {
					width: 200px;
					height: 20px;
					display: block;
					top: 13%;
					left: 65px;
				}
				
				.hudo {
					width: 265px;
					height: 201px;
					display: block;
					position: absolute;
					top: 70px;
				}
				
				.xinlang {
					width: 100px;
					height: 20px;
					position: absolute;
					top: 1px;
					right: 37px;
				}
				
				.weixin .dian {
					margin-right: 8px;
					padding-right: 10px;
					background-image: url(../img/Fborder.png);
					background-repeat: no-repeat;
					display: block;
					position: absolute;
					left: 45%;
					top: 3%;
				}
				
				.icon-one {
					width: 32px;
					height: 42px;
					float: left;
					display: block;
					background-image: url(../img/weixnshare.png);
					background-position: -378px 0;
					background-repeat: no-repeat;
				}
				.icon-twe {
					width: 32px;
					height: 42px;
					float: left;
					display: block;
					background-image: url(../img/weixnshare.png);
					background-position: -210px 2px;
					background-repeat: no-repeat;
				}
				.icon-twe:hover{
					background-position: -210px -59px;
					transition: all .3s;
				}
				em {
					color: #000000;
					font-weight: 500;
				}
				
				.weixin-one i {
					color: #3d8403;
				}
				
				.weixin-twe i {
					color: #f2743e;
				}
				
				.xinlang-one em {
					vertical-align: middle;
					width: 80px;
					height: 20px;
					position: absolute;
					top: 10px;
				}
				
				.icon-three {
					width: 32px;
					height: 42px;
					float: left;
					display: block;
					background-image: url(../img/weixnshare.png);
					background-position: -463px 0;
					background-repeat: no-repeat;
				}
				.icon-three:hover{
					background-position: -463px -61px;
					transition: all .3s;
				}
				.lushi {
					width: 100px;
					height: 20px;
					position: absolute;
					top: 70px;
					left: 0px;
				}
				
				.tel .dian2 {
					margin-right: 8px;
					padding-right: 10px;
					background-image: url(../img/Fborder.png);
					background-repeat: no-repeat;
					display: block;
					position: absolute;
					left: -20%;
					top: 75%;
				}
				
				.borderR-mail {
					width: 100px;
					height: 20px;
					position: absolute;
					top: 140px;
					left: 0px;
					line-height: 24px;
					font-weight: 700;
				}
				
				.borderR-mail a {
					color: black;
					font-weight: 300;
					font-size: 10px;
				}
				
				.tel {
					width: 100px;
					height: 20px;
					position: absolute;
					top: 140px;
					right: 10px;
					line-height: 24px;
					font-weight: 700;
				}
				
				.tel .font-small {
					width: 150px;
					height: 20px;
					position: absolute;
					display: block;
					top: 25px;
					left: 3px;
					font-size: 10px;
					font-weight: 300;
				}
				
				#app {
					width: 82px;
					height: 82px;
					cursor: pointer;
					position: fixed;
					right: 20px;
					z-index: 1000;
					border-radius: 50px;
					background: rgba(96, 52, 18, .6);
					background-position: 50% 50%;
					background-repeat: no-repeat;
					top: 20%;
				}
				#app img{
					transition: all 1s;
				}
				#app img:first-of-type{
					transform: rotateY(0deg);
					-webkit-transform: rotateY(0deg);
				}
				#app:hover img:first-of-type{
					transform: rotateY(180deg);
					-webkit-transform: rotateY(180deg);
					opacity: 0;
				}
				#app img:last-of-type{
					position: absolute;
					top: 0;
					right: 0;
					transform: rotateY(180deg);
					-webkit-transform: rotateY(180deg);
					opacity: 0;
				}
				#app:hover img:last-of-type{
					transform: rotateY(0deg);
					-webkit-transform: rotateY(0deg);
					z-index: -1;
					opacity: 1;
				}
				#weibo {
					width: 82px;
					height: 82px;
					cursor: pointer;
					position: fixed;
					right: 20px;
					z-index: 1000;
					border-radius: 50px;
					background: rgba(96, 52, 18, .6);
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url(../img/weibo-icon.png);
					bottom: 110px;
					top: 30%;
				}
				
				#gotop {
					width: 82px;
					height: 82px;
					cursor: pointer;
					position: fixed;
					right: 20px;
					z-index: 1000;
					border-radius: 50px;
					background: rgba(96, 52, 18, .6);
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url(../img/Fgotop-icon.png);
					bottom: 110px;
					top: 40%;
				}
				footer{
					position: relative;
					line-height: 26px;
					right:42%;
					width: 1902.5px;
					top: 30px;
					z-index: 3;
					font-size: 12px;
					height: 471px;
				}
				.hs-footer{
					background-image: url(../img/footerrepeat.jpg);
					background-repeat: repeat-x;
				}
				.webfooter{
					height: 471px;
					background-image: url(../img/2Ffooter (1).jpg);
					background-position: 50% 0;
					background-repeat: no-repeat;
				}
				.webbtn{
					width: 349px;
					height: 87px;
					position: absolute;
					z-index: 101;
					background-image: url(../img/-bg.png);
					left: 50%;
					top: -30px;
					margin-left: -175px;
					background-repeat: no-repeat;
				}
                .buton{
                   	background-image: url(../img/-btn.png);
                    	background-repeat: no-repeat;
                    	bottom: -5px;
                    	display: block;
                    	left: 50%;
                    	height: 78px;
                    	margin-left: -123px;
                    	width: 249px;
                    	position: absolute;
                    	z-index: -999;
                    	overflow: hidden;
                    }
                .business{
                	width: 1000px;
                	left: 50%;
                	position: relative;
                	margin-left: -500px;
                	color: ghostwhite;
                	z-index: 100;
                	font-size: 14px;
                	padding-top: 79px;
                }  
                .cs-online{
                	color: #FFFFFF;
                	margin-left: 37px;
                	vertical-align: middle;
                }
                .icon-1{
                	width: 19px;
                	height: 19px;
                	background-image: url(../img/business.png);
                	background-position: -6px -7px;
                	background-repeat: no-repeat;
                	display: inline-block;
                	top: 5px;
                	position: relative;
                	margin-right: 10px;
                }
                .cs-back{
                	color: #FFFFFF;
                	margin-left: 37px;
                	vertical-align: middle;
                }
                .icon-2{
                	width: 19px;
                	height: 19px;
                	background-image: url(../img/business.png);
                	background-position: -36px -8px;
                	background-repeat: no-repeat;
                	display: inline-block;
                	top: 6px;
                	position: relative;
                	margin-right: 10px;
                }
                 .cs-join{
                	color: #FFFFFF;
                	margin-left: 37px;
                	vertical-align: middle;
                }
                .icon-3{
                	width: 19px;
                	height: 19px;
                	background-image: url(../img/business.png);
                	background-position: -8px -32px;
                	background-repeat: no-repeat;
                	display: inline-block;
                	top: 6px;
                	position: relative;
                	margin-right: 10px;
                }
                .media{
                text-align: right;
    			vertical-align: top;
                }
                .mark{
                display: inline-block;
                font-size: 14px;
                color: white;
                }
                strong{
                	font-weight: 400;
                }
                .icon-4{
                	background-image: url(../img/2Fbusiness-logo.png);
                	background-repeat: no-repeat;
                	display: inline-block;
                	vertical-align: middle;
                	margin-left: 5px;
                	background-position: -352px 0;
                	width: 95px;
                	height: 26px;
                }
                .icon-5{
                	width: 14px;
    				height: 14px;
    				display: inline-block;
   					margin: 0 0 0 13px;
  					position: relative;
   					top: 3px;
   					cursor: pointer;
  					padding-top: 0;
  					background: #241101;
    				border: 1px solid #2d1702;
    				color: #ac771f;
                  }
                  .media dl{
                  	 display: inline-block;
                     position: relative;
                     margin-left: 10px;
                  }
                  dt{
                  	display: block;
                  }
                  .icon-more{
                  	background: #241101;
                    border: 1px solid #2d1702;
                    color: #ac771f;
                    width: 14px;
                  height: 14px;
    				display: inline-block;
    				margin: 0 0 0 13px;
    				position: relative;
   					 top: 3px;
    				cursor: pointer;
   					 padding-top: 0;
                    }
                   dd ul{
                    	position: absolute;
    					top: 25px;
    					right: 0;
    					width: 756px;
   						padding: 8px 0 10px 20px;
   						background: #1f1009;
    					border: 1px solid #261c12;
    					display: block;
    					opacity: 0;
    					visibility: hidden;
    					/*display: none;*/
                    }
                    dd li {
                    	float: left;
                    	width: 108px;
                    	line-height: 28px;
                    	text-align: left;
                    	opacity: 0;
              	        visibility: hidden;
                    }
                    span:hover>.li{
                    	opacity: 1;
                    	visibility: visible;
                    	transition: all .3s;
                    }
                   i:hover .joiner+li{
                   	opacity: 1;
                   	visibility: visible;
                   	transition: all 0.1s;
                   	/*display: block;*/
                   }
                   .ctrp{
                   	text-align: left;
    				width: 1300px;
    				margin:0 auto 8px;
    				padding-top: 40px;
    				position: relative;
    				
                   }
                   .wangyi{
                   	background-image: url(../img/Flogo_blizzard.png);
                   	background-repeat: no-repeat;
                   	width: 140px;
                   	height: 80px;
                   	display: inline-block;
                   	background-position: 0 0;
                   	vertical-align: top;
                   	margin: 0;
                   	position: relative;
                   	overflow: hidden;
                   }
                   .wangyiyun{
                   	background-image: url(../img/Flogo_ne.png);
                   	background-repeat: no-repeat;
                   	display: inline-block;
                   	width: 125px;
                   	height: 38px;
                   	background-position: 0 0;
                   	margin: 0;
                   	vertical-align: top;
                   	top: 39px;
                   	position: relative;
                   }
                   .info{
                   	width: 700px;
    				float: right;
    				text-align: left;
    				display: inline-block;
    				padding: 0 0 0 -160px;
    				vertical-align: middle;
    				position: relative;
    				box-sizing: border-box;
                   }
                   .info ul {
                   	padding: 0 0 5px;
                   	margin: 0 0 0 0px;
                   	overflow: hidden;
                   }
                   .info ul li{
                   	float: left;
                   }
                   .info p{
                   	font-weight: 400;
                   	line-height: 20px;
                   	font-size: 12px;
                   	color: #552c09;
                   	margin: 0;
                   }
                   .info a {
                   	font-weight: 400;
                   	line-height: 20px;
                   	font-size: 14px;
                   	color: #552c09;
                   }
                   .info a:hover {
                   	color: white;
                   	}
